body {
    margin: 0;
    font-family: "Outfit", sans-serif;

}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
 }
 #learnmore-link {
    position: fixed;
    bottom: 30px;
    right: 142px;
    padding: 5px 20px;
    background-color: rgb(54, 52, 52);
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
    font-family: "Outfit", sans-serif;
 }
 #text1{
position: fixed;
bottom: 60px;
right: 20px;
margin: 0;
background-color: rgba(red, green, blue, alpha);
color: rgb(54, 52, 52);
font-size: 24px;
border: radius 8px; 
font-family: "Outfit", sans-serif;
 }
 #text2{
    position: fixed;
    bottom: 85px;
    right: 97px;
    margin: 0;
    background-color: rgba(red, green, blue, alpha);
    color: rgb(54, 52, 52);
    font-size: 24px;
    border: radius 8px; 
    font-family: "Outfit", sans-serif;
     }
     h1{
        color: rgb(42, 42, 42)
     }

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
font-family: "Outfit", sans-serif;
